:host {
  display: block;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  background: #F7B56A;
  width: 29%;
  padding-bottom: 29%;
  margin: 2% 2%;
}

.flex-item:nth-child(3n) {
  background: #E06B93;
}

.flex-item:nth-child(3n-1) {
  background: #57EFF2;
}